html, body {
    width: 350px;
    background-color: #eee;
    font-family: sans-serif;
}

h1 {
    font-size: 14px;
    display: inline;
}

#limpiar {
    float: right;
}

td {
    font-size: 10px;
}

th, td {
    border: 1px solid #ccc;
  }